{% extends 'layout.twig' %}
{% block title %}Taskmanager | Edit task{% endblock %}
{% block main %}
  <div class="container">
    <div>
      <div class="row">
        <div class="col-md-6"><a class="btn btn-link" href="/portfolio/ta/taskmanager/">Back to Task List</a></div>
      </div>
      <div class="card">
        <div class="card-header">Edit Task</div>
        <div class="card-body">
          <form method="post">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" value="{{ task.username }}" disabled>
            </div>
            <div class="form-group">
              <label for="task-email">Email</label>
              <input type="text" class="form-control" id="task-email" value="{{ task.email }}" disabled>
            </div>
            <div class="form-group">
              <label for="task-text">Text</label>
              <textarea class="form-control" id="task-text" name="text" rows="6">{{ task.text }}</textarea>
            </div>
            <div class="form-group">
              <label>Picture</label>
              <input type="text" class="form-control" id="task-picture" value="{% if task.picture %}{{ task.picture }}{% else %}None{% endif %}" disabled>
            </div>
            <div class="custom-control mb-3 custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="task-completed" value="1" name="completed"
                     {% if task.completed %}checked{% endif %}>
              <label class="custom-control-label" for="task-completed">Completed</label>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Update">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
