{% extends 'layout.twig' %}

{% block main %}
  <div class="container mt-5">
    <div class="input-group mb-3">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Sort By
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="?sort=username">Username</a>
        <a class="dropdown-item" href="?sort=email">Email</a>
        <a class="dropdown-item" href="?sort=completed">Status</a>
        <a class="dropdown-item" href="?sort=created_at">Date</a>
      </div>
    </div>

    <div class="tasks">
      {% for task in tasks %}
        <div class="card {% if task.completed %}border-success{% endif %} mb-3">
          <div class="card-body row">
            <div class="col-md-12 col-lg-9">
              <p class="lead {% if task.completed %}text-success mb-0">completed{% else %}mb-0">in progress{% endif %}</p>
              <h5 class="card-title">{{ task.username }}
                <small class="text-muted">{{ task.email }}</small>
              </h5>
              <p class="card-text">{{ task.text }}</p>
              {% if authenticated %}
                <a href="/portfolio/ta/taskmanager/tasks/{{ task.id }}/edit{% if currentPage > 1 %}?rdr={{ currentPage }}{% endif %}" class="btn btn-primary">Edit</a>
                <a href="/portfolio/ta/taskmanager/tasks/{{ task.id }}/delete" class="btn btn-danger">Delete</a>
              {% endif %}
            </div>
            {% if task.picture %}
              <img class="card-picture col-md-12 col-lg-3" src="{{ task.picture }}" alt="{{ task.picture }}">
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <ul class="pagination">
      {% if currentPage == 1 %}
      <li class="page-item disabled">
      <a class="page-link" href="?page={{ currentPage + 1 }}">Previous</a>
       {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ currentPage - 1 }}" tabindex="-1">Previous</a>
        {% endif %}
      </li>
      {% for i in 1..pages %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endfor %}
      {% if currentPage < pages %}
      <li class="page-item">
        <a class="page-link" href="?page={{ currentPage + 1 }}">Next</a>
        {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="?page={{ currentPage }}">Next</a>
        {% endif %}
      </li>
    </ul>
  </div>
{% endblock %}
{% block styles %}
  <style>
    @media (max-width: 990px) {
      .card-picture {
        margin-top: 1rem !important;
        max-width: max-content;
        margin: 0 auto;
      }
    }
  </style>
{% endblock %}
