{% extends 'layout.twig' %}

{% block title %}Taskmanager | Add new task{% endblock %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-md-6"><a class="btn btn-link" href="/portfolio/ta/taskmanager/">Back to Task List</a></div>
    </div>
    <div class="card">
      <div class="card-header">Add Task</div>
      <div class="card-body">
        <form method="post" class="justify-content-center" enctype="multipart/form-data">
          <div class="form-group">
            <label for="username">Username</label>
            {% if errors.username %}
              <input type="text" class="form-control is-invalid" id="username" name="username"
                     value="{{ fields.username }}">
              <div class="invalid-feedback">{{ errors.username }}</div>
            {% else %}
              <input type="text" class="form-control" id="username" name="username" value="{{ fields.username }}">
            {% endif %}
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            {% if errors.email %}
              <input type="text" class="form-control is-invalid" id="email" name="email"
                     value="{{ fields.email }}">
              <div class="invalid-feedback">{{ errors.email }}</div>
            {% else %}
              <input type="text" class="form-control" id="email" name="email" value="{{ fields.email }}">
            {% endif %}
          </div>
          <div class="form-group">
            <label for="text">Text</label>
            {% if errors.text %}
              <textarea type="text" class="form-control is-invalid" id="text" name="text"
                        rows="6">{{ fields.text }}</textarea>
              <div class="invalid-feedback">{{ errors.text }}</div>
            {% else %}
              <textarea type="text" class="form-control" id="text" name="text" rows="6">{{ fields.text }}</textarea>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="picture">Picture
              <small class="text-secondary">(JPG, PNG, GIF)</small>
            </label><br>
            <div class="custom-file mb-3">
              <input type="file" class="custom-file-input" id="picture" name="picture">
              {% if errors.picture %}
                <label class="custom-file-label form-control is-invalid" for="picture">Choose file</label>
                <div class="invalid-feedback">{{ errors.picture }}</div>
              {% else %}
                <label class="custom-file-label form-control" for="picture">Choose file</label>
              {% endif %}
            </div>
          </div>
          <button id="preview-button" class="btn btn-block btn-primary">Preview</button>
          <input type="submit" class="btn btn-success btn-block" value="Submit">
        </form>
      </div>
    </div>
    <div class="popup">
      <div class="card preview mt-3">
        <div class="card-body row">
          <div id="preview-container" class="col-md-9">
            <p class="lead mb-0">in progress</p>
          </div>
          <img id="preview-picture" class="col-md-3" src="" alt="">
        </div>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
      (function () {
          const createNode = (
              tag,
              classList = null,
              attributes = null,
              textContent = null
          ) => {
              const node = document.createElement(tag);
              if (classList) {
                  for (let classItem of classList) {
                      node.classList.add(classItem);
                  }
              }
              if (attributes) {
                  for (let key in attributes) {
                      node.setAttribute(key, attributes[key]);
                  }
              }
              if (textContent) {
                  node.innerHTML = textContent;
              }

              return node;
          };

          document.querySelector('.overlay').addEventListener('click', e => {
              document.querySelector('.popup').style.display = "none";
          });


          document.getElementById('picture').addEventListener('change', e => {
              e.target.nextElementSibling.textContent = e.target.files[0].name;
          });

          document.getElementById('preview-button').addEventListener('click', e => {
              e.preventDefault();

              const data = {
                  username: document.getElementById('username').value,
                  email: document.getElementById('email').value,
                  text: document.getElementById('text').value,
              };

              const previewContainer = document.getElementById('preview-container');

              while (previewContainer.lastChild) {
                  previewContainer.removeChild(previewContainer.lastChild);
              }

              const previewFragment = document.createDocumentFragment();
              previewFragment.appendChild(createNode('p', ['lead', 'mb-0'], null, 'in progress'));
              const title = createNode('h5', ['card-title'], null, data.username + " ");
              title.appendChild(createNode('small', ['text-muted'], null, data.email));
              previewFragment.appendChild(title);
              previewFragment.appendChild(createNode('p', ['card-text'], null, data.text));
              previewContainer.appendChild(previewFragment);

              const picture = document.getElementById('picture').files[0];

              if (picture) {
                  const reader = new FileReader();
                  reader.onload = () => {
                      if (reader.readyState === 2) {
                          const previewPic = document.getElementById('preview-picture');
                          previewPic.src = reader.result;
                          previewPic.style.width = '320px';
                          previewPic.style.height = '240px';
                      }
                  };
                  reader.readAsDataURL(picture);
              }

              document.querySelector('.popup').style.display = "unset";
          })
      })();
  </script>
{% endblock script %}

{% block styles %}
  <style>
    .popup {
      display: none;
    }

    .card.preview {
      z-index: 11;
      position: absolute;
      width: 65%;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -50%);
    }

    .overlay {
      left: 0;
      top: 0;
      position: absolute;
      z-index: 10;
      width: 100vw;
      min-height: 100%;
      background-color: rgba(0,0,0,.3);
    }
  </style>
{% endblock %}
