{% extends 'layout.twig' %}

{% block main %}
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        {% if errors.invalidLogin %}
          <div class="alert alert-danger">{{ errors.invalidLogin }}</div>
        {% endif %}
      <h1 class="text-center pb-4 pt-3">Login</h1>
        <form method="post">
          <div class="form-group">
            <label for="username">Username</label>
            {% if errors.username %}
              <input type="text" class="form-control is-invalid" id="username" name="username"
                     value="{{ fields.username }}">
              <div class="invalid-feedback">{{ errors.username }}</div>
            {% else %}
              <input type="text" class="form-control" id="username" name="username" value="{{ fields.username }}">
            {% endif %}

          </div>
          <div class="form-group">
            <label for="password">Password</label>
            {% if errors.password %}
              <input type="password" class="form-control is-invalid" name="password" value={{ fields.password }}>
              <div class="invalid-feedback">{{ errors.password }}</div>
            {% else %}
              <input type="password" class="form-control" name="password" value={{ fields.password }}>
            {% endif %}

          </div>
          <input type="submit" class="btn btn-primary btn-block" value="Login"></form>
      </div>
    </div>
  </div>
{% endblock %}