<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Taskmanager{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {% block styles %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <div class="container"><a class="navbar-brand" href="/portfolio/ta/taskmanager/">Taskmanager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"><span
          class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="mt-2 mb-2 btn btn-block btn-success" href="/portfolio/ta/taskmanager/tasks/new">Add New</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {% if authenticated %}
            <a href="/portfolio/ta/taskmanager/logout" class="nav-link btn btn-light">Logout</a>
          {% else %}
            <a href="/portfolio/ta/taskmanager/login" class="nav-link btn btn-light">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
{% block main %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
{% block script %}{% endblock %}
</body>
</html>
